.body{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    border: 2px,black,solid;
    justify-content: center;
    align-items: center;

}
.calcbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px,black,solid;
     width: 500px;
    height: 600px;
    
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
   width: 400px;
   height: 400px;
    
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 15px;
    border: none;
  box-shadow: 0 9px #555555;
    cursor: pointer;
    outline: none;
    
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: 2px,black,solid;
    padding: 10px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 15px;
    border: none;
  
    cursor: pointer;
    outline: none;
    
}
.display{
    display: flex;
    justify-content: right;
    align-items: center;

    width: 320px;
    height: 78px;
    border: 1px,black,solid;
    padding-right: 10px;
    background-color: rgba(156, 253, 221, 0.822);
    font-size: 25px;
    border-radius: 15px;
    border: none;
  box-shadow: 0 9px #555555;
    cursor: pointer;
    outline: none;

}
button{
    width: 80px;
    border-radius: 15px;
    border: none;
  box-shadow: 0 9px #555555;
    cursor: pointer;
    outline: none;
    height: 80px;
    font-size: 30px;
    background-color: rgb(226, 226, 226);
    
}
button:hover{background-color:rgba(206, 206, 206, 0.315) ;}

button:active{background-color:rgba(206, 206, 206, 0.315) ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);}
.C{
    background-color: rgba(255, 112, 112, 0.74);
}
.C:hover{background-color: rgba(255, 84, 84, 0.74);}
.C:active{background-color: rgba(255, 84, 84, 0.74);}
.op{
    background-color: rgba(24, 124, 255, 0.555);
}
.op:hover{background-color:rgb(4, 92, 207) ;}